# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Dependencies
node_modules/

# Build
dist/
build/
*.egg-info/
backend/static/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
mongodb_data/

# atatus

atatus-2.1.1.tar.gz